
*{
  /* color: rgb(170, 64, 64); */
  font-family:'Roboto'  ,  system-ui, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  margin:0;

  background-color: rgb(82, 80, 80);
  --header-background-color:#242424;;;
  --header-text-color:#646cff;
  --draw-elements-color:#242424;
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  --color-primary-100: #382bf0;
  --color-primary-200: #5e43f3;
  --color-primary-300: #7a5af5;
  --color-primary-400: #9171f8;
  --color-primary-500: #a688fa;
  --color-primary-600: #ba9ffb;
  --color-primary-red: #e91e63;
  --color-primary-green: #4caf50;
  --color-primary-gold:#fff49b;
  --color-primary-blue:#4ab2f5;
  color:#646cff;
  
  
}
html,body{
  height: 100%;
  width: 100%;
}
.header{
  display:flex;
  position: fixed;
  top:0;
  height: 7vh;
  width: 100%;
  z-index: 100;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: start;
  align-items:center;
  flex: 1;
  background-color: var(--header-background-color);
  margin: 0;
  font-weight:bold; 
  box-shadow: 0rem 0.3rem 0.3rem #131313;
  margin-bottom: 0.3rem;

  
  
}
.logo-container{
  width: 5%;
  max-width: 4rem;
  min-width: 2rem;
  margin: 0;
  align-self: center;
  margin-right: 5%;
  background-color: var(--header-background-color);
  padding: 0.3rem;
}


.header-logo{
  max-width: 100%;
  height: auto;
  display: block;
  background-color: var(--header-background-color);
  fill: var(--header-text-color);


}
.header-logo:hover{
  fill: wheat;
  filter: opacity(85%);

}


.header-a > a{
  text-decoration: none;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
}
a:hover{
  color: wheat;
  filter: opacity(85%);

}

.header-a{
  font-size:1.3rem;
  text-align: center;
  text-decoration: none;
  padding: 1%;
  align-items: center;
  background-color: var(--header-background-color);

}
.flex-container{
  display:flex;
  -ms-flex-align: center;
  text-align: center;
  align-items: center;
  align-self: center;
}
.flex-container-horizental{
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  padding: 6vh;

}




.item-h1{
  font-size:2rem;
  text-align: center;
  flex:1;
  position:relative;
  margin-bottom: 2rem;
}
.img{
  min-width: 200px;
  max-width: 350px;
  height: auto;
  align-self: center;
  margin-top: 10px;
  transition: 1s;
  opacity: 0.7;
  

}
.img:hover{
  box-shadow: 0px 0px 30px #bd4858;
}
.draw-page{
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-contianer{
  width: 70%;
  max-width: 520px;
}
.draw-container{
  border: 1px solid black;
  width:80%;
  max-width: 620px;

  aspect-ratio: 1/1;
  cursor: pointer;
  display: grid;
}
.draw-cube{

  border:1px solid var(--draw-elements-color);
background-color: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.flex-draw-button{
  display: flex;
  
  justify-content: space-between;
  width: 80%;
  max-width: 630px;


}

.outterButton{
  background-color: var(--header-background-color);
  flex: 1;
  width: 10vw;
  height: 7vh;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.innerButton{
  width: 75%;
  height: 50%;


}

.main{
  height:100%;
  width: 100%;
  padding-top: 7.5vh;

}



.page{
  width: 100%;
  height: 100%;
  
}



.h1-absoulte {
  font-size: 2rem;
  text-align: center;
  flex: 1;
  position: absolute;
  color: wheat;
  margin-bottom: 2rem;

}

.horizantal-flex{
  width: 100%;
  height: 22dvh;
  display: flex;
  align-items: center;
  justify-content: center;

}

video{
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  background-color: var(--draw-elements-color);

  
}

.video-contain{


  
  object-fit: contain;

}
.video-cover{
}
.video-opacity{
  filter: opacity(25%);
}
.video-no-opacity{
  filter: opacity(100%);
}

.projects-container{
  display: flex;
  height: 100%;


}
.project-card{
  height: 50vh;
  border-style:double ;
  border-color: black ;
  flex-direction: column;
  box-shadow: 0.2rem 0.3rem 0.3rem #131313 ;
  transition: 1s;
}
.project-card:hover{

  box-shadow: 0.2rem 0.3rem 0.3rem wheat ;

  
}
.project-card-inner{
  display: flex;
  flex-direction: column;
  
  height: 100%;
  width: 100%;
  background-color: var(--draw-elements-color);

  text-decoration:none;
}
.project-card-title{
  font-size: 1.8rem;
  

  font-weight: bolder;
  color: wheat;
  text-align: start;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  background-color: var(--draw-elements-color);

}
.project-card-video{

  flex:2;
}
.project-card-date{
  font-size: 1rem;
 
  flex: 1;
  background-color: var(--draw-elements-color);
  display: flex;
  align-items: center;
  color: var(--header-text-color);

}
.project-card-description{
  font-size: 1rem;

  flex: 2;
  background-color: var(--draw-elements-color);
  position: flex;
  color: wheat;

}
.project-card-links{
  display: flex;
  flex:1;
  justify-content: space-around;
  flex-direction: row;
  align-items: end;
  background-color: var(--draw-elements-color);
}
.project-card-links > a{
  border:1px solid #000000a9;
  border-radius: 8%;
  padding: 2%;
  width: 40%;
  height: 80%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-surface-200);
  
}
.project-card-links > a:hover{
  background-color: wheat;
  color: black;
  transition: 0.5s;
}

.svg-container{
  
  

}
.svg-drawingName{

  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--color-surface-200);
  }

.fadeinPage{
  animation: fadein 10s;
  

  

}
@keyframes fadein {
  from {  opacity: 0;  }
  to   { opacity: 1; }
}