
*{
  /* color: rgb(170, 64, 64); */
  font-family: 'Roboto', sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  margin:0;
  background-color: rgb(82, 80, 80);
  --header-background-color:#242424;;;
  --header-text-color:#646cff;
  --draw-elements-color:#242424;;
  color:#646cff;
  
}
html,body{
  height: 100%;
  width: 100%;
}
.header{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: start;
  align-items:center;
  flex: 1;
  background-color: var(--header-background-color);
  margin: 0;
  font-weight:bold; 
  box-shadow: 0rem 0.3rem 0.3rem #131313;
  margin-bottom: 0.3rem;

  
  
}
.logo-container{
  width: 5%;
  max-width: 4rem;
  min-width: 2rem;
  margin: 0;
  align-self: center;
  margin-right: 5%;
  background-color: var(--header-background-color);
  padding: 0.3rem;
}


.header-logo{
  max-width: 100%;
  height: auto;
  display: block;
  background-color: var(--header-background-color);


}
.header-logo:hover{

  filter: opacity(75%);

}


.header-a > a{
  text-decoration: none;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
}
a:hover{
  filter: opacity(75%);
}

.header-a{
  font-size:1.3rem;
  text-align: center;
  text-decoration: none;
  padding: 1%;
  align-items: center;
  background-color: var(--header-background-color);

}
.flex-container{
  display:flex;
  -ms-flex-align: center;
  text-align: center;
  align-items: center;
  align-self: center;
}
.flex-container-horizental{
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
}




.item-h1{
  font-size:2rem;
  text-align: center;
  flex:1;
  position:relative;
  margin-bottom: 2rem;
}
.img{
  min-width: 200px;
  max-width: 350px;
  height: auto;
  align-self: center;
  margin-top: 10px;
  transition: 1s;
  

}
.img:hover{
  box-shadow: 0px 0px 30px #bd4858;
}

.draw-container{
  border: 1px solid black;
  width:90%;
  max-width: 620px;


  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}
.draw-line-container{
  flex: 1;
  display: flex;
  border: 1px solid var(--draw-elements-color);
  margin:0;
  transition: 1s;
}

.draw-cube{
  flex: 1;
  border:1px solid var(--draw-elements-color);
  margin:0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.pressed{
  background-color: var(--draw-elements-color);
}
.hovered:hover
{
  background-color: black;
  transition-delay: 0s;
  visibility: visible;
}
main{
  height:auto;
  width: auto;
}

.projects-container{
  display:grid;
  height: 80vh;
  width: 100vw;

  justify-content: start;
  grid-template-columns: repeat(auto-fill,2fr);
  grid-template-rows: repeat(auto-fill,1fr);
  gap: 30px;
}
.project-card{
  border-style:double;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  padding-bottom: 2rem;
  align-items: end;
  background-image: url(images/egale.png);

}
.page{
  width: 100%;
  height: 100%;
  
}

.project-card > a{
  width: 40%;
  height: 8%;
  font-size:  0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-decoration:none;
}
.project-card > a:hover{
  background-color: rgba(220, 192, 38, 0.96);
}

.h1-absoulte {
  font-size: 2rem;
  text-align: center;
  flex: 1;
  position: absolute;
  color: wheat;
  margin-bottom: 2rem;

}
.horizantal-flex{
  width: 100%;
  height: 22dvh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(150%);
  filter: opacity(25%);



}